/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
img{
	width:500px;
	height:500px;
	object-fit: cover;
}
a{
	padding:10px;
	background-color:white;
	color:black;
	border-radius:10px;
}